.calendar-input {
  position: relative;
  display: block;
  width: 100%;
}

.calendar-input input {
  cursor: text;
}

@media (max-width: 680px) {
  .calendar-input input {
    min-height: 52px;
  }
}
